In [1]:
print('Hello Stocks')

Hello Stocks

In [2]:
import os
cwd = os.getcwd()

In [3]:
cwd

'/home/muhammad/Local/MS Data Science/GIT/datasciencefast'

In [4]:
import pandas as pd

In [7]:
pathbook = cwd + ('/Book2.xls')

In [52]:
df = pd.read_excel(pathbook,sheetname=0)

In [53]:
df.shape

(81, 9)

In [54]:
df.head()

,Unnamed: 0,Date,Year ended /Half Year ended,Dividend / Bonus / Right,Profit / (Loss) Before Taxation (Rs. In Million),Profit / (Loss) After Taxation (Rs. In Million),EPS (Rs.),Annual General Meeting / E.O.G.M.,Closure Of Share Transfer Books
0,NaN,20171020,30/09/2017(IIIQ),-,"16,335.610 (UCS)",207.748 (UCS),0.14,-,-
1,NaN,20171020,30/09/2017(IIIQ),-,"18,757.301 (CS)","1,554.428 (CS)",0.87,-,-
2,NaN,20170811,30/06/2017(HYR),35% (D),"26,081.482 (UCS)","14,998.523 (UCS)",10.22,-,25/08/2017 - 31/08/2017
3,NaN,20170811,30/06/2017(HYR),-,"27,717.176 (CS)","15,677.120 (CS)",10.56,-,-
4,NaN,20170420,31/03/2017(IQ),35% (D),"12,512.363 (UCS)","8,119.096 (UCS)",5.54,-,11/05/2017 - 17/05/2017

In [55]:
df.columns

Index(['Unnamed: 0', 'Date', 'Year ended /Half Year ended',
       'Dividend / Bonus / Right',
       'Profit / (Loss) Before Taxation (Rs. In Million)',
       'Profit / (Loss) After Taxation (Rs. In Million)', 'EPS (Rs.)',
       'Annual General Meeting / E.O.G.M.', 'Closure Of Share Transfer Books'],
      dtype='object')

In [56]:
del df['Unnamed: 0']

In [57]:
df.head(2)

,Date,Year ended /Half Year ended,Dividend / Bonus / Right,Profit / (Loss) Before Taxation (Rs. In Million),Profit / (Loss) After Taxation (Rs. In Million),EPS (Rs.),Annual General Meeting / E.O.G.M.,Closure Of Share Transfer Books
0,20171020,30/09/2017(IIIQ),-,"16,335.610 (UCS)",207.748 (UCS),0.14,-,-
1,20171020,30/09/2017(IIIQ),-,"18,757.301 (CS)","1,554.428 (CS)",0.87,-,-

In [58]:
df.tail(2)

,Date,Year ended /Half Year ended,Dividend / Bonus / Right,Profit / (Loss) Before Taxation (Rs. In Million),Profit / (Loss) After Taxation (Rs. In Million),EPS (Rs.),Annual General Meeting / E.O.G.M.,Closure Of Share Transfer Books
79,20080214,31/12/2OO7(YR),-,13127,8.041.416,11.65,-,-
80,20071017,30/09/2OO7(IIIQ),-,"16,103.208 (CD) (CS) - 14,858.968 (CD) (UCS)","10,166.197 (CD) (CS) - 9.212.560 (CD) (CS) (UCS)",13.35 - 14.64,-,-

In [62]:
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [63]:
df

,Date,Year ended /Half Year ended,Dividend / Bonus / Right,Profit / (Loss) Before Taxation (Rs. In Million),Profit / (Loss) After Taxation (Rs. In Million),EPS (Rs.),Annual General Meeting / E.O.G.M.,Closure Of Share Transfer Books,DateTime
0,2017-10-20,30/09/2017(IIIQ),-,"16,335.610 (UCS)",207.748 (UCS),0.14,-,-,2017-10-20
1,2017-10-20,30/09/2017(IIIQ),-,"18,757.301 (CS)","1,554.428 (CS)",0.87,-,-,2017-10-20
2,2017-08-11,30/06/2017(HYR),35% (D),"26,081.482 (UCS)","14,998.523 (UCS)",10.22,-,25/08/2017 - 31/08/2017,2017-08-11
3,2017-08-11,30/06/2017(HYR),-,"27,717.176 (CS)","15,677.120 (CS)",10.56,-,-,2017-08-11
4,2017-04-20,31/03/2017(IQ),35% (D),"12,512.363 (UCS)","8,119.096 (UCS)",5.54,-,11/05/2017 - 17/05/2017,2017-04-20
5,2017-04-20,31/03/2017(IQ),-,"14,052.586 (CS)","9,079.721 (CS)",6.16,-,-,2017-04-20
6,2017-02-14,31/12/2016(YR),35% (F) (D),"52,246.039 (UCS)","31,820.219 (UCS)",21.69,30/03/2017,22/03/2017 - 30/03/2017,2017-02-14
7,2017-02-14,31/12/2016(YR),-,"56,524.911 (CS)","34,206.254 (CS)",23.23,-,-,2017-02-14
8,2016-10-20,30/09/2016(IIIQ),35% (D),"40,653.299 (UCS)","24,010.163 (UCS)",16.37,-,11/11/2016 - 17/11/2016,2016-10-20
9,2016-10-20,30/09/2016(IIIQ),-,"43,493.671 (CS)","25,754.705 (CS)",17.47,-,-,2016-10-20
10,2016-08-18,30/06/2016(HYR),35% (ii) (D),"26,864.330 (UCS)","15,133.341 (UCS)",10.32,-,10/09/2016 - 16/09/2016,2016-08-18
11,2016-08-18,30/06/2016(HYR),-,"28,298.151 (CS)","15,971.320 (CS)",10.86,-,-,2016-08-18
12,2016-04-22,31/03/2016(IQ),35% (D),"13,124.617 (UCS)","8,518.854 (UCS)",5.81,-,13/05/2016 - 19/05/2016,2016-04-22
13,2016-04-22,31/03/2016(IQ),-,"13,853.332 (CS)","9,034.547 (CS)",6.15,-,-,2016-04-22
14,2016-02-23,31/12/2015(YR),35% (D),"57,401.768 (UCS)","35,470.458 (UCS)",24.18,29/03/2016,22/03/2016 - 29/03/2016,2016-02-23
15,2016-02-23,31/12/2015(YR),-,"60,286.238 (CS)","35,101.591 (CS)",23.93,-,-,2016-02-23
16,2015-10-21,30/09/2015(IIIQ),35%(II) (D),"45,151.971 (UCS)","27,107.471 (UCS)",18.48,-,11/11/2015 - 17/11/2015,2015-10-21
17,2015-10-21,30/09/2015(IIIQ),-,"47,870.831 (CS)","27,505.752 (CS)",18.19,-,-,2015-10-21
18,2015-08-21,30/06/2015(HYR),35%(II) (D),"29,467.633 (UCS)","16,913.515 (UCS)",11.53,-,10/09/2015 - 16/10/2015,2015-08-21
19,2015-08-21,30/06/2015(HYR),-,"31,184.382 (CS)","17,155.687 (CS)",11.34,-,-,2015-08-21
20,2015-04-30,31/03/2015(IQ),35%(I) (D),"14,577.205 (UCS)","9,439.899 (UCS)",6.44,-,15/05/2015 - 21/05/2015,2015-04-30
21,2015-04-30,31/03/2015(IQ),-,"15,303.114 (CS)","9,971.055 (CS)",6.73,-,-,2015-04-30
22,2015-02-17,31/12/2014(YR),55% (D),"46,874.691 (UCS)","31,112.521 (UCS)",21.21,27/03/2015,17/03/2015 - 27/03/2015,2015-02-17
23,2015-02-17,31/12/2014(YR),-,"48,514.805 (CS)","31,819.590 (CS)",21.63,-,-,2015-02-17
24,2014-10-24,30/09/2014(IIIQ),22.5%(III) (D),"31,558.109 (UCS)","20,496.848 (UCS)",13.97,-,08/11/2014 - 14/11/2014,2014-10-24
25,2014-10-24,30/09/2014(IIIQ),-,"33,261.338 (CS)","21,895.718 (CS)",14.85,-,-,2014-10-24
26,2014-07-22,30/06/2014(HYR),22.5%(II) (D),"20,817.347 (UCS)","13,542.185 (UCS)",9.23,-,07/08/2014 - 13/08/2014,2014-07-22
27,2014-07-22,30/06/2014(HYR),-,"22,145.625 (CS)","14,589.212 (CS)",9.88,-,-,2014-07-22
28,2014-04-25,31/03/2014(IQ),20% (D),"8,543.928 (UCS)","5,477.958 (UCS)",4.11,-,10/05/2014 - 16/05/2014,2014-04-25
29,2014-04-25,30/09/2012(IQ),-,"9,248.175 (CS)","6,126.906 (CS)",4.54,-,-,2014-04-25
...,...,...,...,...,...,...,...,...,...
51,2011-08-19,30/06/2011(HYR),-,"15,452.008 (CS)","10,009.975 (CS)",9,-,-,2011-08-19
52,2011-04-15,31/03/2011(IQ),-,"7,691.346 (CS)","5,000.361 (CS)",4.95,-,-,2011-04-15
53,2011-04-15,31/03/2011(IQ),-,"7,321.707 (CS) (UCS)","4,700.770 (CS) (UCS)",4.69,-,-,2011-04-15
54,2011-02-18,31/12/2010(YR),65% (D) - 10% (B),"27,040.030 (CS)","17,034.380 (CS)",16.78,-,-,2011-02-18
55,2011-02-18,31/12/2010(YR),-,"25,057.281 (CS) (UCS)","15,613.054 (CS) (UCS)",15.58,29/03/2011,16/03/2011 - 29/03/2011,2011-02-18
56,2010-10-27,30/09/2010(IIIQ),-,"19,382.733 (I) (CD) (CS)","12,170.219 (I) (CD) (CS)",12.01,-,-,2010-10-27
57,2010-10-27,30/09/2010(IIIQ),-,"18,164.591 (I) (CD) (CS) (UCS)","11,292.826 (I) (CD) (CS) (UCS)",11.27,-,-,2010-10-27
58,2010-07-28,30/06/2010(HYR),-,"12,112.550 (UCS)","7,423.304 (UCS)",7.41,-,-,2010-07-28
59,2010-07-28,30/06/2010(HYR),-,"12,764.445 (CS)","7,865.165 (CS)",7.77,-,-,2010-07-28
60,2010-04-22,31/03/2010(IQ),-,"6,253.801 (CS)","3,815.020 (CS)",4.12,-,-,2010-04-22
61,2010-04-22,31/03/2010(IQ),-,"5,964.280 (UCS)","3,602.602 (UCS)",3.96,-,-,2010-04-22
62,2010-02-19,31/12/2009(YR),10% (B) - 60% (D),"19,485.741 (UCS)","12,298.643 (UCS)",13.5,27/03/2010,13/03/2010 - 27/03/2010,2010-02-19
63,2010-02-19,31/12/2009(YR),-,"21,381.636 (CS)","13,400.749 (CS)",14.7,-,-,2010-02-19
64,2009-10-26,30/09/2009(IIIQ),-,"16,573.037 (UCS)",10.572.705 (UCS),11.61,-,-,2009-10-26
65,2009-10-26,30/09/2009(IIIQ),-,"16,539.649 (CS)","10,443.689 (CS)",11.39,-,-,2009-10-26
66,2009-08-21,30/06/2OO9(HYR),-,"10,407.978 (CS)","6,562.062 (CS)",7.14,-,-,2009-08-21
67,2009-08-21,30/06/2OO9(HYR),-,"10,419.705 (UCS)","6,554.168 (UCS)",7.2,-,-,2009-08-21
68,2009-04-24,31/03/2OO9(IQ),-,"5,203.821 (CS)","3,384.623 (CS)",4.4,-,-,2009-04-24
69,2009-04-24,31/03/2OO9(IQ),-,"5,457.002 (CS) (UCS)","3,481.427 (CS) (UCS)",4.59,-,-,2009-04-24
70,2009-02-20,31/12/2OO8(YR),55%(F) (D) - 20% (B),"22,034.379 (CS)","15,614.020 (CS)",20.47,28/03/2OO9,14/03/2009 - 28/03/2009,2009-02-20
71,2009-02-20,31/12/2OO8(YR),-,"15,855.194 (UCS)","10,000.980 (UCS)",13.18,-,-,2009-02-20
72,2008-10-24,30/09/2OO8(IIIQ),-,17321.4,11073.9,14.44,-,-,2008-10-24
73,2008-10-24,30/09/2OO8(IIIQ),-,"15,371.070 (CS)","9,615.853 (CS)",12.67,-,-,2008-10-24
74,2008-07-28,30/06/2OO8(HYR),-,11617,7498.28,9.75,-,-,2008-07-28
75,2008-07-28,30/06/2OO8(HYR),-,10306.3,6356.59,8.37,-,-,2008-07-28
76,2008-04-23,31/03/2OO8(IQ),-,"5,804.674 (CS)","3,880.697 (CS)",5.62,-,-,2008-04-23
77,2008-04-23,31/03/2OO8(IQ),-,6451,4267.94,6.17,-,-,2008-04-23
78,2008-02-14,31/12/2OO7(YR),40%(F) (D) - 10% (B),15144.6,10084,14.49,28/03/2OO8,14/03/2008 - 28/03/2008,2008-02-14
79,2008-02-14,31/12/2OO7(YR),-,13127,8.041.416,11.65,-,-,2008-02-14
80,2007-10-17,30/09/2OO7(IIIQ),-,"16,103.208 (CD) (CS) - 14,858.968 (CD) (UCS)","10,166.197 (CD) (CS) - 9.212.560 (CD) (CS) (UCS)",13.35 - 14.64,-,-,2007-10-17

In [64]:
df.columns

Index(['Date', 'Year ended /Half Year ended', 'Dividend / Bonus / Right',
       'Profit / (Loss) Before Taxation (Rs. In Million)',
       'Profit / (Loss) After Taxation (Rs. In Million)', 'EPS (Rs.)',
       'Annual General Meeting / E.O.G.M.', 'Closure Of Share Transfer Books',
       'DateTime'],
      dtype='object')

In [69]:
s = df['Dividend / Bonus / Right'].apply(lambda x: x.split('-'))

0                        [, ]
1                        [, ]
2                   [35% (D)]
3                        [, ]
4                   [35% (D)]
5                        [, ]
6               [35% (F) (D)]
7                        [, ]
8                   [35% (D)]
9                        [, ]
10             [35% (ii) (D)]
11                       [, ]
12                  [35% (D)]
13                       [, ]
14                  [35% (D)]
15                       [, ]
16              [35%(II) (D)]
17                       [, ]
18              [35%(II) (D)]
19                       [, ]
20               [35%(I) (D)]
21                       [, ]
22                  [55% (D)]
23                       [, ]
24           [22.5%(III) (D)]
25                       [, ]
26            [22.5%(II) (D)]
27                       [, ]
28                  [20% (D)]
29                       [, ]
               ...
51                       [, ]
52                       [, ]
53                       [, ]
54       [65% (D) ,  10% (B)]
55                       [, ]
56                       [, ]
57                       [, ]
58                       [, ]
59                       [, ]
60                       [, ]
61                       [, ]
62       [10% (B) ,  60% (D)]
63                       [, ]
64                       [, ]
65                       [, ]
66                       [, ]
67                       [, ]
68                       [, ]
69                       [, ]
70    [55%(F) (D) ,  20% (B)]
71                       [, ]
72                       [, ]
73                       [, ]
74                       [, ]
75                       [, ]
76                       [, ]
77                       [, ]
78    [40%(F) (D) ,  10% (B)]
79                       [, ]
80                       [, ]
Name: Dividend / Bonus / Right, dtype: object

In [73]:
s[1]

['', '']